.list_uploads {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.box_upload_img {
    height: 450px;
    width: auto;
    object-fit: cover;
}

.uploads_inputs input[type="file"] {
    display: none;
}

.imageGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.image {
    height: 400px;
}