.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px 30px;
}

.box {
    height: 450px;
    width: 930px;
}

.box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.destaque {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 450px;
    width: auto;
}

.cards {
    height: 100%;
    width: 300px;
}

.cards img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}