.card-profile{
    height: auto;
}
.card-profile img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease-out .3s;
}
.card-profile img:hover{
    cursor: pointer;
   
}
.card-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    backdrop-filter: blur(15px);
}
.card-modal i{
    font-size: 32px;
    color: white;
}
.card-modal i:hover{
    transition: linear .3s;
    color: red;
    cursor: pointer;
}
.modal{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
}
.modal img{
    max-height: 800px;
    height: auto;
    max-width: 800px;
    transition: all ease-in .3s;
}
@media screen and (max-width:640px){
    .modal {
        justify-content: center;
        align-items: flex-end;
        padding: 10px;
    }
    .modal img{
        max-height: 600px;
        height: auto;
        width: 100%;
    }
}
