.container_conta{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	height:88vh;
}
.box_conta{
	display:flex;
	justify-content:center;
	align-items:center;
    flex-direction:column;
    flex-wrap:wrap;
    gap:20px;
	height:100%;
	width:100%;
	border-right:0.25px solid #1B1A17;
}
.box_conta a{
    font-size:16px;
    font-weight:400;
    color:var(--text-300);
}
