.modal_formas_pagamentos_acomp {
    display: flex;
    align-items: center;
    gap: 5px;
}
.box_pagamento_acomp input[type="checkbox"]{
    display: none;
}
.box_pagamento_acomp label{
    display: flex;
    align-items: center;
    border:none;
    outline: none;
    border-radius: 3px;
    padding: 5px 10px;
    background: var(--bg-400);
    font-size: 13px;
    font-weight: 500;
    color: var(--text-300);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.box_pagamento_acomp label:hover{
    cursor: pointer;
}
.box_pagamento_acomp input[type="checkbox"]:checked + label {
    background:var(--bg-500);
    color: var(--text-300);
}
.modal_zap_price_acomp{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}
.modal_zap_price_acomp input{
    padding:5px 10px;
    border: none;
    outline: none;
    background:var(--bg-400);
    color:var(--text-300);
    font-size:14px;
    font-weight: 400;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}