footer {
    position: relative;
    width: 100%;
    z-index: 9999;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-400);
    padding: 10px 50px;
}

.container-footer span {
    color: white;
    font-size: 16px;
    font-weight: 500;
}