header {
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
    background: var(--bg-400);
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    width: 100%;
}

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-logo a {
    color: var(--text-300);
    font-size: 20px;
    font-weight: 600;
}

.box-urls ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.box-urls a {
    color: var(--text-300);
}

.box-urls .url-atual {
    color: var(--primary-100);
    font-weight: 500;
}

.urls {
    color: var(--text-300);
    font-weight: 500;
    font-size: 16px;
}

.urls:hover {
    border-bottom: 2px solid var(--primary-100);
    padding-bottom: 5px;
    color: var(--primary-100);
    transition: linear .2s;
}

.box-acesso {
    display: flex;
    align-items: center;
    gap: 10px;
}

.box-acesso a:first-child {
    font-weight: 600;
    font-size: 16px;
    color: var(--text-300);
    background: var(--primary-100);
    padding: 6px 12px;
    border-radius: 3px;
}

.box-acesso a:last-child {
    color: var(--text-300);
    background: var(--bg-500);
    font-weight: 600;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 3px;
}

.box-acesso i {
    padding-left: 3px;
    color: white;
}

@media screen and (max-width:800px) {
    header {
        height: auto;
        width: 100%;
    }

    .container-header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        height: auto;
        width: 100%;
        padding: 10px 30px;
    }

    .container-logo {
        flex-direction: column;
        gap: 0px;
    }

    .box-urls ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
    }

    .urls:hover {
        border-bottom: none;
        padding-bottom: 0px;
        color: #212121;
        transition: none;
    }
}