.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.boxOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 300px;
    padding: 40px;
}

.box-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-title h1 {
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
}

.box-title b {
    color: #EE1D52;
}

.box-title span {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}

.box-menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.box-menu a {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}

.box-profile h2 {
    color: #FFFFFF;
    font-size: 14px;
}

.boxTwo {
    height: 100%;
    width: 100%;
}