.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    padding: 0 20px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 550px;
    background: white;
    padding: 40px;
}

.form-title-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-title-subtitle h2 {
    font-size: 32px;
    font-weight: 700;
    color: #0D0D0D;
}

.form-title-subtitle h4 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 2px;
    color: #212121;
}

.box-form {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 10px;
    padding: 20px;
}

.form-email {
    display: flex;
    flex-direction: column;
}

input[type="email"] {
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    font-weight: 500;
    color: #212121;
}

input[type="password"] {
    height: 30px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    font-weight: 500;
    color: #212121;
}

.form-checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
}

.form-checkbox span {
    font-size: 14px;
    font-weight: 400;
    color: #212121;
}

.form-esqueceu {
    margin-top: -5px;
}

.form-esqueceu a {
    font-size: 14px;
    font-weight: 400;
    color: #212121;
}

.form-esqueceu a:hover {
    text-decoration: underline;
    color: red;
    transition: linear .3s;
}

input[type="submit"] {
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    background: black;
    color: white;
    border-radius: 3px;
    border: 1px solid #000;
    outline: none;
    transition: all ease-out .3s;
}

input[type="submit"]:hover {
    cursor: pointer;
    background: white;
    border: 1px solid #000;
    color: black;
    transition: linear .3s;
}

.link-register h3 {
    font-size: 14px;
    margin-top: -10px;
}

.link-register a {
    text-decoration: underline;
    color: #212121;
    font-weight: 400;
}

.box-publi {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.box-publi img {
    height: 200px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

@media screen and (max-width:990px) {
    .container-login {
        position: relative;
        padding: 20px;
        background: red;
    }
}