.modal_logout{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    inset: 50% auto auto 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    background: var(--bg-black2);
    padding: 20px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.title_logou{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_logou h2{
    font-size: 24px;
    font-weight: 600;
}
.btns_logout{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btns_logout button{
    color: var(--text-300);
    font-size: 14px;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.btns_logout button:hover{
    cursor: pointer;
}
.btns_logout i{
    padding-right: 5px;
    color: var(--text-300);
}
.btns_logout button:nth-child(1){
    background: var(--bg-400);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.btns_logout button:nth-child(2){
    background: var(--text-red);
}
.img_logout {
    height: 150px;
    width: 250px;
}
.img_logout img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}