.container_nova {
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;
  flex-wrap:wrap;
  min-height:886px;
  height:auto;
  width:100%;
}
.nova_card {
  height:886px;
  width:450px;
  background:var(--bg-400);
}
.nova_card img{
  height:886px;
  width:100%;
  object-fit:cover;
}
.nova_info {
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-direction:column;
  flex-wrap:wrap;
  gap:0px;
  min-height:886px;
  height:auto;
  width:75%;
}
.nova_all {
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-direction:column;
  gap:5px;
  margin-bottom:15px;
}
.nova_payment ul {
  display:flex;
  align-items:center;
  gap:10px;
  color:var(--text-300);
  font-weight:500;
}

.nova_detals ul {
  display:flex;
  align-items:center;
  gap:10px;
  color:var(--text-300);
  font-weight:500;
}


.nova_one {
  display:flex;
  justify-content:flex-end;
  align-items:center;
  position:relative;
  flex-wrap: nowrap;
  overflow:hidden;
  gap:10px;
  height:auto;
  width:100%;
  background:var(--bg-400);
}
.medidas_lastname_acomp{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 3px;
}
.medidas_acomp ul{
  display: flex;
  align-items: center;
  gap:10px;
  color: var(--text-300);
  font-size: 14px;
  font-weight: 400;
}
.medidas_acomp i{
  padding-right: 5px;
}
.list_one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  /*animation: scroll 30s linear infinite;*/
}
.list_one ul {
  display:flex;
  gap:5px;
  color:var(--text-300);
  white-space: nowrap;
  font-weight:500;
  font-size:16px;
}
.list_one li{
  padding: 3px 20px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

/*.list_one ul:hover {
  animation-play-state: paused;
}
@keyframes scroll {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(-100%);
  }
}*/
.nova_two {
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  flex-wrap:wrap;
  background:var(--bg-400);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;  
  height:auto;
  width:100%;
  padding:10px;
  border-radius:3px;
}
.nova_name {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  flex-wrap:wrap;
  height:auto;
  width:auto;
  gap:5px;
}
.nova_option {
  display:flex;
  align-items:center;
  width:100%;
}
.nova_option i {
  font-size:24px;
}
.nova_option a {
  display:flex;
  align-items:center;
  color:var(--text-300);
  transition:all ease-out .3s
}
.nova_option a:hover {
  cursor:pointer;
  color:var(--text-red);
  transition:all ease-in .3s;
}
.nome_one{
  display:flex;
  align-items:flex-end;
  flex-direction:column;
  gap:10px;
  line-height:2.2rem;
}
.nome_one h1{
  font-size:64px;
  font-weight:600;
  color:var(--text-300);
}
.nome_one h3{
  position:relative;
  left:30px;
  color:var(--text-300);
  font-weight:400;
  font-size:24px;
}

.nova_contact{
  position:relative;
  top:5px;
}
.nova_contact h3{
  padding:5px 15px;
  border-radius:3px;
  border:none;
  outline:none;
  font-size:14px;
  font-weight:500;
  color: var(--bg-400);
  background:var(--text-300)
}
.nova_contact i {
  padding-right:5px;
  font-size:16px;
}
.nova_description {
  width:auto;
}
.nova_description p {
  max-width:450px;
  width:auto;
  text-align:center;
}
.nova_components {
  display:flex;
  justify-content:flex-end;
  align-items:flex-end;
  flex-direction:column;
  height:auto;
  width:50%;
}
.components_card {
  display:flex;
  height:380px;
  width:100%;
  border:none;
  background:var(--text-300);
}
.components_card img{
  height:100%;
  width:100%;
  object-fit:cover;
}

.component_button {
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
}
.component_button button {
  margin-top:10px;
  padding:8px 15px;
  border:none;
  outline:none;
  background:var(--bg-400);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;   
  font-size:14px;
  font-weight:600;
  margin:8px;
  border:1px solid var(--text-300);
  color:var(--text-300);
}
.component_button button:hover{
  cursor:pointer;
}
.component_button i{
  padding-right:5px;
}

.nova_five {
  display:flex;
  justify-content:flex-end;
  align-items:center;
  flex-wrap:wrap;
  gap:10px;
  height:auto;
  width:100%;
}
.nova_select {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
  gap:5px;
  width:auto;
  border-radius:3px;
  padding: 10px 0px;
}
.button_select {
  padding: 3px 12px;
  background: var(--bg-400);
  border: 1px solid var(--text-300);
  outline: none;
  color: var(--text-300);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.select_button {
  padding: 3px 12px;
  background: var(--text-300);
  border: 1px solid var(--bg-400);
  outline: none;
  color: var(--bg-400);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.button_select i , .select_button i {
  padding-right: 5px;
}
.service_acomp{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 3px;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;   
}
.service_acomp ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  color: var(--text-300);
}
.container_imagens {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  height:50%;
  width:100%; 
}
.nova_three {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap: 5px;
  height:100%;
  width:100%;
  border-radius:3px;
  background:var(--bg-400);
}
@media screen and (max-width: 640px){
  .nova_one{
    justify-content: center;
  }
  .nova_two {
    box-shadow:none;
    padding:0;
  }
  .nova_name {
    padding:20px;
  }
  .nova_card {
    display:flex;
    justify-content:center;
    height:auto;
  }
  .nova_card img {
    height:450px;
    width:auto;
    border-radius:3px;
  }
  .nova_description {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width:100%;
    padding:5px;
  }
  .nova_description p {
      max-width:auto;
  }
  .nova_components {
    padding: 0px;
    width:100%;
  }
  .components_card {
    height:200px;
    width:100%;
  }
  .component_button button{
    font-size:12px;
  }
  .nova_info {
    gap:10px;
  }

  .nova_five {
    border-radius:3px;  
    justify-content:center;
  }
  .nova_select {
    width:100%;
  }
}
@media screen and (max-width:375px){
  .nova_name {
    max-width:100%;
    padding:20px;
  }
  .nova_payment ul{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
  }
  .nova_description {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width:100%;
    padding:5px;
  }
  .nova_description p {
      max-width:auto;
  }
}
