.container-planos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 888px;
    padding: 40px 20px;
    background: #EE1D52;
}

.box-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.box-title h1 {
    font-size: 44px;
    text-align: center;
    font-weight: 700;
    line-height: 2.8rem;
    color: #fff;
}

.box-title h3 {
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    line-height: 1.4rem;
}

.btn-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: linear .3s;
}

.btn-toggle span {
    color: #fff;
}

.toggle {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    border-radius: 100px;
    height: auto;
    width: 50px;
    background: #FFF;
    transition: linear .3s;
}

.endToggle {
    display: flex;
    justify-content: flex-end;
    transition: linear .3s;
    padding: 5px;
    border-radius: 100px;
    height: auto;
    width: 50px;
    background: #fff;
}

.modeToggle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #0d0d0d;
}

.modeToggle:hover {
    cursor: pointer;
}

.box-desconto span {
    color: #fff;
}

.box-planos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.box-desconto {
    text-align: center;
}

.card-planos {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.plano-popular {
    border: 5px solid #0D0D0D !important;

}

.planoA {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
    height: auto;
    gap: 20px;
    height: auto;
    width: 250px;
    padding: 20px 10px;
    border: 1px solid #ddd;
    background: white;
    border-radius: 12px;
    transition: all ease-out .3s;
}

.planoA:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: linear .3s;
}

.plano-price {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.plano-price h1 {
    display: flex;
    align-items: flex-end;
    font-size: 32px;
    font-weight: 600;
}

.plano-price h2 {
    font-size: 16px;
    font-weight: 500;
    color: #212121;
    position: relative;
    top: -20px;
}

.plano-price h4 {
    font-size: 14px;
    font-weight: 400;
    color: #212121;
    position: relative;
    left: -2px;
}

.plano-price h3 {
    font-size: 20px;
    font-weight: 500;
}

.plano-price i {
    padding-right: 5px;
}

.plano-vantagens ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.plano-vantagens li {
    font-size: 18px;
}

.plano-vantagens i {
    padding-right: 5px;
    color: #03C988;
}

.plano-assinar button {
    background: #000;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 3px;
    padding: 5px 20px;
    border: none;
    outline: none;
}

.plano-assinar button:hover {
    cursor: pointer;
}

.plano-assinar i {
    padding-left: 5px;
    color: white;
}

.renovar span {
    font-size: 12px;
    font-weight: 400;
    color: gray;
}

.renovar i {
    padding-right: 5px;
}

.box-continuar a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.box-continuar a:hover {
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.box-continuar i {
    padding-left: 8px;
}

@media screen and (max-width:800px) {
    .container-planos {
        height: auto;
        padding: 20px;
    }
}

@media screen and (max-width:640px) {
    .container-planos {
        padding: 20px 10px;
    }
}