.container-slider {
    width: 100%;
    background: var(--bg-400);
}

.slider {
    position: relative;
    overflow: hidden;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    margin: auto;
    background: var(--bg-400);
}

.slider-track {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.slide li {
    min-width: 100px;
    width: auto;
    max-width: 300px;
    text-align: center;
    pointer-events: none;
    color: var(--text-300);
}

div:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-100%);
    }
}

.slider-track {
    animation: scroll 30s linear infinite;
    display: flex;
    width: 960px;
}