.container-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.box-profile {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: auto;
}

.profile-photo {
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

.profile-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ddd;
}

.profile-photo img:hover {
  cursor: not-allowed;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: auto;
  max-width: 400px;
}

.box-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  color: white;
}

.profile-name .ri-verified-badge-fill {
  padding-left: 5px;
}

.profile-name h2 {
  border-radius: 3px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.price-share {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile-follow button {
  background: #1877F2;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.profile-follow button:hover {
  cursor: pointer;
}

.profile-share button {
  background: black;
  color: #F5F7F8;
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
}

.profile-share button:hover {
  cursor: pointer;
}

.profile-locale {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.profile-locale span {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.box-descript p {
  text-wrap: pretty;
  margin-top: -5px;
  color: white;
  font-size: 15px;
  font-weight: 400;
}

.box-social ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.box-social a {
  font-size: 20px;
  color: white;
}

.container_imagens {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-card {
  columns: 5;
  flex-wrap: wrap;
  gap: 5px;
  width: 75%;
  padding: 5px;
}

.container-status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-top: 0;
}

.box-status {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.box-status i {
  padding-right: 5px;
}

.box-status h2 {
  font-size: 16px;
  font-weight: 400;
  color: black;
  padding: 4px 12px;
  border-radius: 3px;
  background: white;
}

@media screen and (max-width:1200px) {
  .container-card {
    columns: 3;
  }
}

@media screen and (max-width:990px) {
  .card-profile {
    margin-left: 5px;
    margin-right: 5px;
  }

  .box-status {
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .container-card {
    padding: 0;
    columns: 1;
  }
}

@media screen and (max-width:770px) {
  .container-profile {
    padding: 20px;
  }

  .box-profile {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width:640px) {
  .container-profile {
    padding: 20px;
  }

  .box-profile {
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .box-info {
    justify-content: center;
  }

  .container-status {
    justify-content: center;
  }

  .profile-info {
    justify-content: center;
    align-items: center;
  }

  .profile-locale {
    justify-content: center;
  }

  .box-descript p {
    text-align: center;
  }

  .box-status {
    justify-content: center;
    align-items: center;
  }

  .box-status h2 {
    font-size: 15px;
  }
}