.container-usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    padding: 40px;
}

.box-usuario {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
}

.usuario-avatar-selo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.usuario-avatar {
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.usuario-avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ddd;
    pointer-events: none;
    cursor: pointer;
}

.usuario-selo ul {
    display: flex;
    align-items: center;
    gap: 5px;
}


.usuario-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    max-width: 500px;
}

.box-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    color: white;
}

.usuario-selo i {
    color: var(--bg-400);
    font-size: 18px;
}

.usuario-name h2 {
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    color: var(--bg-400);
}

.price-share {
    display: flex;
    gap: 5px;
    align-items: center;
}

.usuario-follow button {
    background: #1877F2;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    outline: none;
}

.usuario-follow button:hover {
    cursor: pointer;
}

.usuario-share button {
    background: var(--text-red);
    color: var(--text-300);
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
}

.usuario-share i {
    padding-right: 5px;
}

.usuario-local-gen ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.usuario-local-gen i {
    padding-right: 5px;
}

.usuario-descript p {
    color: var(--bg-400);
    font-size: 16px;
    font-weight: 400;
    text-wrap: pretty;
}

.usuario-social-contato {
    display: flex;
    align-items: center;
    gap: 10px;
}

.usuario-social ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.usuario-social a {
    font-size: 20px;
    color: var(--bg-400);
}

.usuario-contato a {
    font-size: 20px;
    color: var(--text-300);
    padding: 4px 10px;
    background: var(--bg-400);
    border-radius: 3px;
}

.usuario-contato i {
    padding-right: 5px;
}

.usuario-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 5px;
    padding: 5px;
    background: var(--bg-400);
}

.usuario-status {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 0;
}

.box-status {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.box-status i {
    padding-right: 5px;
}

.box-status h2 {
    font-size: 16px;
    font-weight: 400;
    color: black;
    padding: 4px 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: white;
}

@media screen and (max-width:990px) {
    .card-profile {
        margin-left: 5px;
        margin-right: 5px;
    }

    .box-status {
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .container-card {
        padding: 0;
    }
}

@media screen and (max-width:770px) {
    .container-usuario {
        padding: 20px;
    }

    .box-usuario {
        justify-content: center;
        align-items: center;
    }

    .usuario-card {
        padding: 0;
    }
}

@media screen and (max-width:640px) {
    .container-usuario {
        padding: 20px;
    }

    .box-usuario {
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .usuario-avatar-selo {
        flex-direction: column-reverse;
    }

    .box-info {
        justify-content: center;
    }

    .usuario-status {
        justify-content: center;
    }

    .usuario-info {
        justify-content: center;
        align-items: center;
    }

    .usuario-descript p {
        text-align: center;
    }

    .usuario-card {
        padding: 0;
    }

    .box-status {
        justify-content: center;
        align-items: center;
    }

    .box-status h2 {
        font-size: 15px;
    }
}