.container_nova {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}

.nova_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
}

.nova_all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.nova_payment ul {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-300);
    font-weight: 500;
}

.nova_one {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 10px;
    height: auto;
    width: 100%;
    background: var(--bg-400);
}

.medidas_lastname_acomp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 3px;
}

.medidas_acomp ul {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-300);
    font-size: 14px;
    font-weight: 400;
}

.peso,
.altura,
.contato {
    display: flex;
    align-items: center;
    gap: 5px;
}

.list_one ul {
    display: flex;
    gap: 5px;
    color: var(--text-300);
    white-space: nowrap;
    font-weight: 500;
    font-size: 16px;
}

.list_one li {
    padding: 3px 20px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.nova_two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    background: var(--bg-320);
    gap: 8px;
}

.nova_name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 350px;
    width: auto;
    max-width: 450px;
    gap: 5px;
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.nova_option {
    display: flex;
    align-items: center;
    width: 100%;
}

.nova_option i {
    font-size: 24px;
}

.nova_option a {
    display: flex;
    align-items: center;
    color: var(--text-300);
    transition: all ease-out .3s;
}

.nova_option a:hover {
    cursor: pointer;
    color: var(--text-red);
    transition: all ease-in .3s;
}

.nome_one {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
    line-height: 2.2rem;
}

.nome_one h1 {
    font-size: 64px;
    font-weight: 600;
    color: var(--text-300);
}

.nome_one h3 {
    position: relative;
    left: 30px;
    color: var(--text-300);
    font-weight: 400;
    font-size: 24px;
}

.nova_contact h3 {
    margin-top: 5px;
    padding: 5px 15px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--bg-400);
    background: var(--text-300);
}

.nova_contact i {
    padding-right: 5px;
    font-size: 16px;
}

.nova_description {
    width: auto;
}

.nova_description p {
    max-width: 450px;
    width: auto;
    text-align: center;
}

.nova_five {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
    width: 100%;
}

.nova_select {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    width: auto;
    border-radius: 3px;
    padding: 10px 0px;
}

.button_select {
    padding: 3px 12px;
    background: var(--bg-400);
    border: 1px solid var(--text-300);
    outline: none;
    color: var(--text-300);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.select_button {
    padding: 3px 12px;
    background: var(--text-300);
    border: 1px solid var(--bg-400);
    outline: none;
    color: var(--bg-400);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.button_select i,
.select_button i {
    padding-right: 5px;
}

.service_acomp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background: var(--bg-320);
    padding: 10px 3px;
    border-radius: 5px;
}

.list_services {
    display: flex;
    align-items: center;
    gap: 20px;
}

.list_services span {
    color: var(--text-300);
    padding: 5px 12px;
    border-radius: 5px;
    margin: 0 5px;
    background: var(--bg-310);
    font-size: 16px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.container_imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.nova_three {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.container_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    height: 350px;
    width: 100%;
}

.video,
.anuncio,
.map {
    height: 100%;
    width: 33%;
    background: yellow;
    border-radius: 5px;
}

.map iframe {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

@media screen and (width < 1800px) {
    .container_nova {
        padding: 10px 5px;
    }

    .nova_two {
        justify-content: center;
        flex-direction: column;
        gap: 8px;
    }

    .nova_three {
        justify-content: center;
    }
}

@media screen and (max-width: 1400px) {
    .container_nova {
        padding: 10px 5px;
    }

    .nova_two {
        justify-content: center;
        gap: 8px;
    }

    .video,
    .anuncio,
    .map {
        height: 350px;
        width: 70%;
    }
}

@media screen and (max-width:990px) {
    .nova_two {
        justify-content: center;
    }

    .nova_three {
        justify-content: center;
    }

    .nova_info {
        flex-wrap: wrap;
    }

    .video,
    .anuncio,
    .map {
        width: 70%;
    }

}

@media screen and (max-width: 770px) {

    .video,
    .anuncio,
    .map {
        height: 250px;
        width: 70%;
    }
}

@media screen and (max-width: 640px) {
    .nova_one {
        justify-content: center;
    }

    .nova_two {
        box-shadow: none;
        padding: 0;
    }

    .nova_name {
        height: auto;
        padding: 20px 8px;
    }

    .nova_card {
        display: flex;
        justify-content: center;
        height: auto;
    }

    .nova_card img {
        height: 450px;
        width: auto;
        border-radius: 3px;
    }

    .nova_description {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100%;
        padding: 5px;
    }

    .nova_description p {
        max-width: auto;
        padding: 0;
    }

    .component_button button {
        font-size: 12px;
    }

    .nova_info {
        gap: 10px;
    }

    .nova_five {
        border-radius: 3px;
        justify-content: center;
    }

    .nova_select {
        width: 100%;
    }


    .video,
    .anuncio,
    .map {
        height: 230px;
        width: 100%;
    }
}

@media screen and (max-width:375px) {
    .nova_name {
        max-width: 100%;
        padding: 20px;
    }

    .nova_payment ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .nova_description {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100%;
        padding: 5px;
    }

    .nova_description p {
        max-width: auto;
    }
}