.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 854.4px;
    width: 100%;
    padding: 20px 40px;
}

.box_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 70%;
    padding: 100px 10px;
}

.box_name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.box_first h1 {
    font-size: 64px;
}

.box_last h1 {
    position: relative;
    top: -15px;
    left: 25px;
    font-size: 64px;
}

.box_description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.box_description p {
    text-wrap: pretty;
    font-size: 16px;
    font-weight: 400;
    color: #212121;
    width: 70%;
}

.box_avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
}

.box_avatar img {
    height: 80%;
    width: 450px;
    object-fit: contain;
}