.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 24px;
    color: var(--text-300);
}

.icon:hover {
    cursor: pointer;
}

.modal {
    position: absolute;
    top: 65px;
    right: 25px;
    height: auto;
    width: auto;
    background: var(--text-300);
    border-radius: 5px;
    z-index: 9999;
    padding: 10px 15px;
}

.modal ul {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
}

.modal a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--bg-320);
    outline: none;
    border: none;
    font-weight: 500;
}

.home,
.destaque,
.check,
.logout {
    font-size: 18px;
}

.home {
    color: var(--bg-320);
}

.destaque,
.logout {
    color: var(--text-red);
}

.check {
    color: var(--bg-500);
}