.modal_banner_anunciante {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: auto;
    width: auto;
    background: var(--bg-320);
    border-radius: 12px;
    padding: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.file_banner_anunciante input[type="file"] {
    display: none;
}

.file_banner_anunciante h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    height: 380px;
    width: 940px;
    border: 2px dashed var(--text-300);
    background: var(--bg-320);
    padding: 3px 15px;
    outline: none;
    color: var(--text-300);
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
}

.file_banner_anunciante h1:hover {
    cursor: pointer;
}

.obs_banner_anunciante {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.obs_banner_anunciante span {
    color: var(--text-300);
    font-size: 14px;
    font-weight: 400;
}

.preview_banner_anunciante {
    height: 450px;
    width: 950px;
}

.preview_banner_anunciante img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn_preview_anunciante {
    display: flex;
    justify-content: center;
    align-items: center;
}

.open_preview {
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    background: var(--bg-500);
    color: var(--text-300);
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.close_preview {
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-300);
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background: var(--text-red);
}

.open_preview:hover,
.close_preview:hover {
    cursor: pointer;
}

.btn_preview_anunciante .ri-picture-in-picture-fill {
    padding-right: 5px;
}