.modal_altura_acomp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    color: var(--text-300);
    width: 100%;
}

.modal_altura_acomp label {
    font-size: 16px;
    font-weight: 500;
    color: var(--bg-310);
}

.modal_altura_acomp span {
    font-size: 14px;
    font-weight: 300;
}

.modal_altura_acomp input[type="range"] {
    width: 100%;
    height: 5px;
    -webkit-appearance: none;
    margin: 10px 0;
    appearance: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

.modal_altura_acomp input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    border-radius: 5px;
}

.modal_altura_acomp input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: var(--color-orange);
    border-radius: 50%;
    border: 1px solid var(--bg-320);
    margin-top: -8px;
}

.modal_altura_acomp input[type="range"]::-webkit-slider-runnable-track::-webkit-slider-thumb {
    background: #2980b9;
}