.modal_filter{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    inset: 50%  auto auto 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    height: auto;
    overflow: auto;
    width: auto;
    max-width: 350px;
    border-radius: 5px;
    padding: 10px;
    background: var(--bg-400);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.title_filter_acomp i{
    padding-right: 5px;
}
.search_option_acomp{
    display: flex;
    align-items: center;
    background: var(--text-300);
    border: none;
}
.cache_filter_acomp, .idade_filter_acomp,
.etnia_filter_acomp{
    display: flex;
    align-items: center;
    background: var(--text-300);
    border: none;
}
.cache_filter_acomp input[type="text"], .idade_filter_acomp input[type="text"],
.idade_filter_acomp input[type="number"], .search_option_acomp input[type="search"]{
    padding: 5px;
    border: none;
    outline: none;
    background: var(--text-300);
}
.cache_filter_acomp i, .idade_filter_acomp i,
.search_option_acomp i {
    padding: 5px;
    background: #ddd;
    border: none;
    outline: none;
}
.details_corpo_acomp:hover, .details_etnia_acomp:hover,
.details_service_acomp:hover{
    cursor: pointer;
}
.max_min_cache{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px 0;
}
.summary_corpo_acomp, .summary_etnia_acomp,
.summary_service_acomp{
    color: var(--text-300);
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 5px 15px;
    background: var(--bg-400);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.corpo_filter_acomp, 
.etnia_filter_acomp, 
.service_filter_acomp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
    flex-wrap: wrap;
    padding: 10px;
    background: #000;
}

#check_filter_magra, #check_filter_normal,
#check_filter_sarada, #check_filter_gorda,
#check_filter_branca, #check_filter_morena,
#check_filter_parda, #check_filter_negra,
#check_filter_asiatica, #check_filter_indigena,
#check_filter_0,#check_filter_1, #check_filter_2,
#check_filter_3, #check_filter_4, #check_filter_5,
#check_filter_6, #check_filter_7, #check_filter_8, 
#check_filter_9, #check_filter_10, #check_filter_11, 
#check_filter_12, #service_checkout_acomp_13{
    display: none;
}
.check_filter_corpo input[type="checkbox"]:checked + label,
.check_filter_etnia input[type="checkbox"]:checked + label,
.check_filter_service input[type="checkbox"]:checked + label{
    background: var(--bg-500);
    color: var(--text-300);
}
.check_filter_corpo label, .check_filter_etnia label,
.check_filter_service label{
    padding: 3px 10px;
    border: none;
    outline: none;
    background: var(--bg-400);
    color: var(--text-300);
    font-size: 14px;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.check_filter_corpo label:hover, .check_filter_etnia label:hover,
.check_filter_service label:hover{
    cursor: pointer;
}