@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Inconsolata', monospace;
}

body {
  background: var(--text-300);
}

:root {
  --primary-100: #EE1D52;
  --primary-200: #ff607e;
  --primary-300: #ffcddf;
  --accent-100: #FFC107;
  --accent-200: #916400;
  --text-100: #333333;
  --text-200: #5c5c5c;
  --text-300: #FFFFFF;
  --text-red: #FE0000;
  --bg-100: #F7F7F7;
  --bg-200: #ededed;
  --bg-300: #c4c4c4;
  --bg-400: #050505;
  --bg-500: #0079FF;
  --bg-600: #00DFA2;
  --bg-700: #FF0060;
}

@media screen and (max-width:800px) {
  #root {
    flex-wrap: wrap;
  }
}