@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Inter', sans-serif;
}

html,
body {
  background: var(--bg-350);
  scroll-behavior: smooth;
}

:root {
  --primary-100: rgba(238, 29, 82, 1);
  --primary-200: rgba(255, 96, 126, 1);
  --primary-300: rgba(255, 205, 223, 1);
  --accent-100: rgba(255, 193, 7, 1);
  --accent-200: rgba(145, 100, 0, 1);
  --text-100: rgba(51, 51, 51, 1);
  --text-200: rgba(92, 92, 92, 1);
  --text-250: rgba(226, 232, 240, 1);
  --text-300: rgba(255, 255, 255, 1);
  --text-400: rgba(245, 245, 245, 1);
  --text-450: rgba(249, 250, 252, 1);
  --text-red: rgba(254, 0, 0, 1);
  --bg-100: rgba(247, 247, 247, 1);
  --bg-200: rgba(237, 237, 237, 1);
  --bg-300: rgba(196, 196, 196, 1);
  --bg-350:rgba(5, 5, 5, 1);
  --bg-400: rgba(17, 17, 17, 1);
  --bg-450: rgba(15, 23, 42, 1);
  --bg-black:rgba(41, 41, 41, 1);
  --bg-black2:rgba(28, 28, 28, 1);
  --bg-500: rgba(0, 121, 255, 1);
  --bg-600: rgba(0, 223, 162, 1);
  --bg-700: rgba(255, 0, 96, 1);
  --color-orange:rgba(230, 62, 33, 1);
}

/*@media screen and (max-width:800px) {
  #root {
    flex-wrap: wrap;
  }
}*/
